<div>
  <p>Hello</p>
  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      <div class="slide" {{ block.shopify_attributes }}>
        {% if block.settings.image %}
          {{ block.settings.image | image_url: width: 2048 | image_tag }}
        {% else %}
          <p>No image assigned</p>
        {% endif %}
      </div>
    {% endfor %}
  {% else %}
    <p>No blocks available.</p>
  {% endif %}
</div>

{% schema %}
{
  "name": "Feedback Form",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
