<div>
    {% form 'feedback', class: 'newsletter-form' %}
      {% for block in section.blocks %}
        {% case block.type %}
          {% when "email" %}
          <p>Email</p>
          {% when "feeback" %}
          <p>Feedback</p>
        {% endcase %}
      {% endfor %}
    {% endform %}
</div>

{% schema %}
{
  "name": "Feedback Form",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
     {
       "name": "Email",
       "type": "email",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     },
      {
       "name": "Feedback",
       "type": "feedback",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
