<div>
    {% form 'contact', class: 'newsletter-form' %}
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          {% if block.type == 'input' %}
            <div style="margin-top: 20px;">
              <div class="field">
                <input
                  type="email"
                  name="contact[email]"
                  class="field__input"
                  value="{{ form.email }}"
                  aria-required="true"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  placeholder="{{ block.settings.placeholder }}"
                  required
                >
                <label class="field__label">
                  {{ block.settings.label }}
                </label>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% else %}
        <p>No blocks available. Section: {{ section | json }}</p>
      {% endif %}
    {% endform %}
</div>

{% schema %}
{
  "name": "Feedback Form",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
     {
       "name": "Input",
       "type": "input",
       "settings": [
         {
           "type": "text",
           "id": "label",
           "label": "Label",
           "default": "Email Address"
         },
         {
           "type": "text",
           "id": "placeholder",
           "label": "Placeholder",
           "default": "Enter your email"
         }
       ]
     }
   ],
  "presets": [
    {
      "name": "Feedback Form",
      "category": "Feedback",
      "blocks": [
        {
          "type": "input",
          "settings": {
            "label": "Email Address",
            "placeholder": "Enter your email"
          }
        }
      ]
    }
  ]
}
{% endschema %}

