<div>
    {% form 'contact', class: 'newsletter-form' %}
      {% for block in section.blocks %}
          <div style="margin-top: 20px;">
            <div class="field">
              <input
                type="email"
                name="contact[email]"
                class="field__input"
                value="{{ form.email }}"
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                placeholder="{{ 'newsletter.label' | t }}"
                required
              >
              <label class="field__label">
                {{ 'newsletter.label' | t }}
              </label>
            </div>
          </div>
      {% endfor %}
    {% endform %}
</div>

{% schema %}
{
  "name": "Feedback Form",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
     {
       "name": "Input",
       "type": "richtext",
       "settings": [
         {
           "type": "richtext",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
