<div>
  <p>Hello</p>
  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      {% case block.type %}
        {% when "email" %}
        <p>Email</p>
        {% when "feeback" %}
        <p>Feedback</p>
      {% endcase %}
    {% endfor %}
  {% else %}
    <p>No blocks available</p>
  {% endif %}
</div>

{% schema %}
{
  "name": "Feedback Form",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
     {
       "name": "Email",
       "type": "email",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     },
      {
       "name": "Feedback",
       "type": "feedback",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
